___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [5]:
import pandas as pd
import numpy as np

In [6]:
from numpy.random import randn
np.random.seed(101)

In [20]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

          W         X         Y         Z
A -1.420949  0.321660  1.007324  0.329784
B  0.920525  1.349138 -0.377861  1.955420
C -0.858304 -0.222210 -0.051203 -0.439128
D -1.501041  1.058357  1.854967  0.502250
E  0.114581 -0.368487  0.459343  0.585513

In [21]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [22]:
df

          W         X         Y         Z
A -0.181904 -0.603235 -2.552660 -0.031927
B  1.407189  0.060971 -1.542393 -0.821110
C -1.599171 -2.068836  1.509747  0.174683
D  0.463428 -2.206442  0.544159  0.698296
E  1.252944 -1.048347 -1.281320  1.276731

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [25]:
df['W']

A   -0.181904
B    1.407189
C   -1.599171
D    0.463428
E    1.252944
Name: W, dtype: float64

In [38]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A -0.181904 -0.031927
B  1.407189 -0.821110
C -1.599171  0.174683
D  0.463428  0.698296
E  1.252944  1.276731

In [52]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A   -0.181904
B    1.407189
C   -1.599171
D    0.463428
E    1.252944
Name: W, dtype: float64

DataFrame Columns are just Series

In [53]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [54]:
df['new'] = df['W'] + df['Y']

In [55]:
df

          W         X         Y         Z       new
A -0.181904 -0.603235 -2.552660 -0.031927 -2.734564
B  1.407189  0.060971 -1.542393 -0.821110 -0.135204
C -1.599171 -2.068836  1.509747  0.174683 -0.089424
D  0.463428 -2.206442  0.544159  0.698296  1.007587
E  1.252944 -1.048347 -1.281320  1.276731 -0.028377

** Removing Columns**

In [56]:
df.drop('new',axis=1)

          W         X         Y         Z
A -0.181904 -0.603235 -2.552660 -0.031927
B  1.407189  0.060971 -1.542393 -0.821110
C -1.599171 -2.068836  1.509747  0.174683
D  0.463428 -2.206442  0.544159  0.698296
E  1.252944 -1.048347 -1.281320  1.276731

In [57]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A -0.181904 -0.603235 -2.552660 -0.031927 -2.734564
B  1.407189  0.060971 -1.542393 -0.821110 -0.135204
C -1.599171 -2.068836  1.509747  0.174683 -0.089424
D  0.463428 -2.206442  0.544159  0.698296  1.007587
E  1.252944 -1.048347 -1.281320  1.276731 -0.028377

In [58]:
df.drop('new',axis=1,inplace=True)

In [59]:
df

          W         X         Y         Z
A -0.181904 -0.603235 -2.552660 -0.031927
B  1.407189  0.060971 -1.542393 -0.821110
C -1.599171 -2.068836  1.509747  0.174683
D  0.463428 -2.206442  0.544159  0.698296
E  1.252944 -1.048347 -1.281320  1.276731

Can also drop rows this way:

In [60]:
df.drop('E',axis=0)

          W         X         Y         Z
A -0.181904 -0.603235 -2.552660 -0.031927
B  1.407189  0.060971 -1.542393 -0.821110
C -1.599171 -2.068836  1.509747  0.174683
D  0.463428 -2.206442  0.544159  0.698296

** Selecting Rows**

In [61]:
df.loc['A']

W   -0.181904
X   -0.603235
Y   -2.552660
Z   -0.031927
Name: A, dtype: float64

Or select based off of position instead of label

In [62]:
df.iloc[2]

W   -1.599171
X   -2.068836
Y    1.509747
Z    0.174683
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [63]:
df.loc['B','Y']

-1.5423927248905593

In [64]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -0.181904 -2.552660
B  1.407189 -1.542393

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [65]:
df

          W         X         Y         Z
A -0.181904 -0.603235 -2.552660 -0.031927
B  1.407189  0.060971 -1.542393 -0.821110
C -1.599171 -2.068836  1.509747  0.174683
D  0.463428 -2.206442  0.544159  0.698296
E  1.252944 -1.048347 -1.281320  1.276731

In [69]:
df>0

       W      X      Y      Z
A  False  False  False  False
B   True   True  False  False
C  False  False   True   True
D   True  False   True   True
E   True  False  False   True

In [70]:
df[df>0]

          W         X         Y         Z
A       NaN       NaN       NaN       NaN
B  1.407189  0.060971       NaN       NaN
C       NaN       NaN  1.509747  0.174683
D  0.463428       NaN  0.544159  0.698296
E  1.252944       NaN       NaN  1.276731

In [71]:
df[df['W']>0]

          W         X         Y         Z
B  1.407189  0.060971 -1.542393 -0.821110
D  0.463428 -2.206442  0.544159  0.698296
E  1.252944 -1.048347 -1.281320  1.276731

In [72]:
df[df['W']>0]['Y']

B   -1.542393
D    0.544159
E   -1.281320
Name: Y, dtype: float64

In [73]:
df[df['W']>0][['Y','X']]

          Y         X
B -1.542393  0.060971
D  0.544159 -2.206442
E -1.281320 -1.048347

For two conditions you can use | and & with parenthesis:

In [75]:
df[(df['W']>0) & (df['Y'] > 0.5)]

          W         X         Y         Z
D  0.463428 -2.206442  0.544159  0.698296

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [82]:
df

          W         X         Y         Z States
A -0.181904 -0.603235 -2.552660 -0.031927     CA
B  1.407189  0.060971 -1.542393 -0.821110     NY
C -1.599171 -2.068836  1.509747  0.174683     WY
D  0.463428 -2.206442  0.544159  0.698296     OR
E  1.252944 -1.048347 -1.281320  1.276731     CO

In [83]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z States
0     A -0.181904 -0.603235 -2.552660 -0.031927     CA
1     B  1.407189  0.060971 -1.542393 -0.821110     NY
2     C -1.599171 -2.068836  1.509747  0.174683     WY
3     D  0.463428 -2.206442  0.544159  0.698296     OR
4     E  1.252944 -1.048347 -1.281320  1.276731     CO

In [84]:
newind = 'CA NY WY OR CO'.split()

In [85]:
df['States'] = newind

In [86]:
df

          W         X         Y         Z States
A -0.181904 -0.603235 -2.552660 -0.031927     CA
B  1.407189  0.060971 -1.542393 -0.821110     NY
C -1.599171 -2.068836  1.509747  0.174683     WY
D  0.463428 -2.206442  0.544159  0.698296     OR
E  1.252944 -1.048347 -1.281320  1.276731     CO

In [91]:
df.set_index('States')

               W         X         Y         Z
States
CA     -0.181904 -0.603235 -2.552660 -0.031927
NY      1.407189  0.060971 -1.542393 -0.821110
WY     -1.599171 -2.068836  1.509747  0.174683
OR      0.463428 -2.206442  0.544159  0.698296
CO      1.252944 -1.048347 -1.281320  1.276731

In [92]:
df

          W         X         Y         Z States
A -0.181904 -0.603235 -2.552660 -0.031927     CA
B  1.407189  0.060971 -1.542393 -0.821110     NY
C -1.599171 -2.068836  1.509747  0.174683     WY
D  0.463428 -2.206442  0.544159  0.698296     OR
E  1.252944 -1.048347 -1.281320  1.276731     CO

In [95]:
df.set_index('States',inplace=True)

KeyError: 'States'

In [96]:
df

               W         X         Y         Z
States
CA     -0.181904 -0.603235 -2.552660 -0.031927
NY      1.407189  0.060971 -1.542393 -0.821110
WY     -1.599171 -2.068836  1.509747  0.174683
OR      0.463428 -2.206442  0.544159  0.698296
CO      1.252944 -1.048347 -1.281320  1.276731

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [109]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [110]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [111]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.816906  0.122287
   2 -1.426759  1.260475
   3  1.351807  0.257183
G2 1  0.126086  0.466044
   2 -0.135813 -0.710667
   3  0.863646 -0.726741

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [112]:
df.loc['G1']

          A         B
1 -0.816906  0.122287
2 -1.426759  1.260475
3  1.351807  0.257183

In [113]:
df.loc['G1'].loc[1]

A   -0.816906
B    0.122287
Name: 1, dtype: float64

In [114]:
df.index.names

FrozenList([None, None])

In [115]:
df.index.names = ['Group','Num']

In [116]:
df

                  A         B
Group Num
G1    1   -0.816906  0.122287
      2   -1.426759  1.260475
      3    1.351807  0.257183
G2    1    0.126086  0.466044
      2   -0.135813 -0.710667
      3    0.863646 -0.726741

In [120]:
df.xs('G1')

            A         B
Num
1   -0.816906  0.122287
2   -1.426759  1.260475
3    1.351807  0.257183

In [141]:
df.xs(['G1',1])

A   -0.816906
B    0.122287
Name: (G1, 1), dtype: float64

In [148]:
df.xs('G1',level='Group')
#df.loc['G1'].loc[1]

            A         B
Num
1   -0.816906  0.122287
2   -1.426759  1.260475
3    1.351807  0.257183

# Great Job!